<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.abstract }}" />
  <meta property="og:image" content="https://www.theroutingloop.net/assets/image/Routing-loop-square.gif" />
  <meta property="og:site_name" content="The Routing Loop" />

  <title>{{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
</head>
